/* element stylings */

body {
    background-color: lightblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: royalblue;
    display: flex;
}

nav {
    font-size: 2rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

header a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 5rem;
}

img {
    width: 90%;
    border: 2px solid white;
    opacity: .8;
    border-radius: 5px;
}

main {
    width: 80%;
    margin: 5% auto;
    text-align: center;
}

footer {
    background-color: royalblue;
    color: white;
    font-size: 2rem;
}

/* class stylings */

.nav-title {
    font-size: 3rem;
    margin: 2% auto 5% 20px;
}

.hero {
    display: flex;
    padding: 2%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: indigo;
    color: white;
    align-items: center;
    line-height: 1.4;
}

.hero-copy {
    margin: 3%;
}

.subtitle {
    font-size: 2rem;
    margin: 10%;
}