/* element stylings */

body {
    background-color: lightblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: royalblue;
    display: flex;
}

nav {
    font-size: 2rem;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

header a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 5rem;
}

img {
    width: 90%;
    border: 2px solid white;
    opacity: .8;
    border-radius: 5px;
}

main {
    width: 80%;
    margin: 5% auto;
    text-align: center;
}

button {
    background-color: #0073e6;
    color: white;
    padding: 1% 2%;
    font-size: 2.5rem;
}

button a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: royalblue;
    color: white;
    font-size: 2rem;
    margin-top: 100px;
    padding: 50px;
}

/* class stylings */

.nav-title {
    font-size: 2rem;
    margin: 2% 0 2% 20px;
    font-style: italic;
}

.hero {
    display: flex;
    padding: 2%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: indigo;
    color: white;
    align-items: center;
    line-height: 1.4;
}

.hero-copy {
    margin: 3%;
}

.subtitle {
    font-size: 2rem;
    margin: 10%;
}

.future {
    margin: 5% auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 30%;
}

.first-button {
    grid-column: 2/4;
}

.button {
    visibility: hidden;
}